body{
    background-image: url(https://th.bing.com/th/id/R.fcdbe81c0fb8e4d38a7b29f774f02a57?rik=gdI3611OufrIjQ&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    background-size: 1550px 750px;
}

.a{
    color: rgb(56, 56, 255);
    text-align: center;
    font-size: 50px;
    font-family: curlz MT;
    border: 15px;
    border-style: groove;
    border-color: navy;
    margin: 100px;
}

a{
    font-size: 30px;
    color: rgb(80, 80, 255);
    padding: 15px;
}

li{
    display: inline;
}

.b{
    color: rgb(26, 26, 237);
}

p{
    font-size: 20px;
    color: rgba(0, 241, 242, 0.98);
    border: 15px;
    border-style: groove;
    border-color: navy;
    margin: 100px;
}